/* import app colors... */
@value heading from 'containers/App/colors.css';
@value twoRowWidth: (max-width: 670px);


.header {
  background-color: heading;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media twoRowWidth {
    justify-content: center;
  }

  align-items: center;
}

.logo {
  flex: 0 251px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.navigation {
  flex: 1 400px;
  justify-content: flex-end;

  @media twoRowWidth {
    justify-content: center;
  }
}
