/* import app colors... */
@value heading from 'containers/App/colors.css';
@value twoRowWidth: (max-width: 690px);

.header {
  background-color: heading;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media twoRowWidth {
    justify-content: center;
  }

  align-items: center;
}

.logo {
  margin: 5px 0;
}

.navigation {
  flex: 1 420px;
  justify-content: flex-end;

  @media twoRowWidth {
    justify-content: center;
  }
}
