/* import your colors... */
@value heading, accent, subheading, popout, light, medium, darkmedium, dark, lightmatte, matte from 'containers/App/colors.css';

.card {
  margin: 0 auto;
  border: 1px solid darkmedium;
  position: relative;
  background-color: light;
}

.cardHeader {
  background-color: light;
  color: matte;
}

.heading {
  width: 100%;
  padding-left: 20px;
  padding-bottom: 5px;
  border-bottom-color: darkmedium;
}

.videoList {
  width: 100%;
}

.videoListItem {
  padding: 10px 0;
}
