/* import your colors... */
@value heading, accent, subheading, popout, light, medium, darkmedium, dark, lightmatte, matte from 'containers/App/colors.css';

.card {
  margin: 0 auto;
  border: 1px solid darkmedium;
  position: relative;
  background-color: light;
  transition: box-shadow 0.25s;
}

.cardHeader {
  background-color: matte;
  color: light;
}

.videoList {
  width: 100%;
}

.videoListItem:not(:first-child) {
  border-top: 1px solid darkmedium;
}

.videoListItem {
  padding: 10px 0;
}
