.card {
  margin: 0;
  width: 95%;
  float: left;
  border: 1px solid #D4D4D4;
  position: relative;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #FFF;
  transition: box-shadow 0.25s;
}

.videoList {
  width: 100%;
}

.videoListItem:not(:first-child) {
  border-top: 1px solid #D9D9D9;
}

.videoListItem {
  padding: 10px 0;
}
