/* import app colors... */
@value heading, accent, subheading, light, medium, darkmedium, lightmatte, matte, dark from 'containers/App/colors.css';

.buttonWrapper {
  display: block;
}

.button {
  margin-bottom: 30px;
  color: subheading !important;
  transition: all 0.2s;
}

.button:hover {
  color: accent !important;
  text-decoration: none;
}
