/* import your colors... */
@value colors: 'containers/App/colors.css';
@value light, medium, darkmedium, dark, lightmatte, matte, fresh, watermelon, teal from colors;

.socialBar {
  font-size: 20px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.socialGroup {
  display: inline-block;
}

.socialButton {
  padding-left: 0 !important;
  padding-right: 0 !important;
  transition: transform 0.5s;
}

.socialGroup:hover .socialButton:not(:hover) {
  transform: scale(0.8);
}
