@value phone from 'containers/App/breakpoints.css';

.socialBar {
  font-size: 20px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.socialGroup {
  display: inline-block;
  margin-bottom: 0;

  @media phone {
    margin-bottom: 0;
  }
}

.socialButton {
  padding-left: 0 !important;
  padding-right: 0 !important;
  transition: transform 0.5s;
}

.socialGroup:hover .socialButton:not(:hover) {
  transform: scale(0.8);
}
