@value colors: 'containers/App/colors.css';
@value subheading from colors;
@value accent from colors;

.footer {
  margin: 40px 0 25px;
}

.footerRow {
  display: flex;
  align-items: center;
}

.columns {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.columns > section:not(:first-child) {
  padding-top: 0 !important;
}

.icon {
  padding-left: 5px;
}

.footer a {
  color: subheading !important;
  transition: all 0.2s;
}

.footer a:hover {
  color: accent !important;
  text-decoration: none;
}

.socialButton,
.copyright {
  color: subheading;
}
