/* import app colors... */
@value heading, accent, subheading, light, medium, darkmedium, lightmatte, matte, dark from 'containers/App/colors.css';

.footer {
  margin-top: 10px;
}

.columns {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.columns > section:not(:first-child) {
  padding-top: 0 !important;
}

.icon {
  padding-left: 5px;
}

.footer a {
  color: subheading !important;
  transition: all 0.2s;
}

.footer a:hover {
  color: accent !important;
  text-decoration: none;
}
