/* import your colors... */
@value light, medium, darkmedium, dark, lightmatte, matte, fresh, watermelon, teal from 'containers/App/colors.css';

.columns {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.columns > section:not(:first-child) {
  padding-top: 0 !important;
}

.icon {
  padding-left: 5px;
}
