/* import your colors... */
@value colors: 'containers/App/colors.css';
@value light, medium, darkmedium, dark, lightmatte, matte, fresh, watermelon, teal from colors;

.demoButton {
  width: 250px;
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

.col {
  overflow: hidden;
  padding-bottom: 5px;
}

.social {
  padding: 30px 0;
  background: lightmatte;
}

.socialListItem i {
  color: light;
}

.socialListItem:hover i {
  color: watermelon !important;
}

.social > ul {
  margin: 0;
}
