/* import your colors... */
@value light, medium, darkmedium, dark, lightmatte, matte, fresh, watermelon, teal from 'containers/App/colors.css';

.col {
  overflow: hidden;
  padding-bottom: 5px;
}

.social {
  padding: 30px 0;
  background: lightmatte;
}

.socialListItem i {
  color: light;
}

.socialListItem:hover i {
  color: watermelon !important;
}

.social > ul {
  margin: 0;
}

.icon {
  padding-left: 10px;
}
