.portfolioPage { /* stylelint-disable */

}

.demoButton {
    /*width: 150px;*/
}

a:hover {
  text-decoration: none;
}

.button {
  composes: button from global;
  font-size: larger;
}

.btnLink {
  margin-left: 5px;
}
