/* import your colors... */
@value colors: 'containers/App/colors.css';
@value light, medium, darkmedium, dark, lightmatte, matte, fresh, watermelon, teal from colors;

.submitBtn:not(.invalidBtn):hover,
.submitBtn:not(.invalidBtn):active,
.submitBtn:not(.invalidBtn):active:hover {
  color: teal !important;
  border-color: teal !important;
  background: light !important;
}

.submitBtn:not(.invalidBtn),
.submitBtn:not(.invalidBtn):focus:not(:hover) {
  color: light !important;
  border-color: teal !important;
  background: teal !important;
}

.submitBtn {
  transition: background 0.5s, border 0.5s;
}

.submitBtn.invalidBtn {
  background: watermelon !important;
  border-color: watermelon !important;
  color: light !important;
}

.submitBtn.invalidBtn:hover,
.submitBtn.invalidBtn:active,
.submitBtn.invalidBtn:active:hover {
  color: watermelon !important;
  border-color: watermelon !important;
  background: light !important;
}

.invalidBtn {
  border: 10px solid white;
}
