/* import your colors... */
@value colors: 'containers/App/colors.css';
@value light, medium, darkmedium, dark, lightmatte, matte, fresh, watermelon, teal from colors;

.submitBtn:not([disabled]):hover,
.submitBtn:not([disabled]):active,
.submitBtn:not([disabled]):active:hover {
  color: teal !important;
  border-color: teal !important;
  background: light !important;
}

.submitBtn:not([disabled]),
.submitBtn:not([disabled]):focus:not(:hover) {
  color: light !important;
  border-color: teal !important;
  background: teal !important;
}

.submitBtn {
  transition: background 0.5s, border 0.5s;
}

.submitBtn[disabled] {
  background: watermelon !important;
  border-color: watermelon !important;
  color: light !important;
}

.submitBtn[disabled]:hover,
.submitBtn[disabled]:active,
.submitBtn[disabled]:active:hover {
  color: watermelon !important;
  border-color: watermelon !important;
  background: light !important;
}
