/* import your colors... */
@value heading, accent, subheading, popout, light, medium, darkmedium, dark, lightmatte, matte from 'containers/App/colors.css';

/* breakpoints */
@value xs-max, sm-min, sm-max, md-min, md-max, lg-min, xs, sm, md, lg from 'containers/App/breakpoints.css';

.loadingIndicator {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.error {
  color: accent !important;
}

.contactForm {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  max-width: 600px;
  padding: 50px;
  background-color: subheading;
  color: light;
}

@media xs {
  .contactForm {
    left: 0;
    right: 0;
    top: 0;
    width: auto;
    transform: translateY(0%);
    padding: 10px;
  }

  h2,
  .h2 {
    font-size: 25px !important;
  }
}

@media sm {
  .contactForm {
    width: 60%;
    padding: 25px;
  }
}

.formInput {
  margin-right: 10px;
  width: 100%;
}

.icon {
  margin-right: 10px;
}
