/* import your colors... */
@value light, medium, darkmedium, dark, lightmatte, matte, fresh, watermelon, teal from 'containers/App/colors.css';

/* breakpoints */
@value xs-max, sm-min, sm-max, md-min, md-max, lg-min, xs, sm, md, lg from 'containers/App/breakpoints.css';

.navListItem {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navLink {
  display: block;
  position: relative;
  padding: 32px 30px;
  color: light;
  font-size: large;
}

.navLink,
.navLink::before {
  transition: all 0.3s;
}

.navLink::before {
  content: '';
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: watermelon;
  transform: translateY(110%);
}

.navLink.active::before {
  transform: translateY(0);
}

.navLink:hover {
  color: light;
  text-decoration: none;
}

.navLink:not(.active):hover {
  transform: translateY(-5%);
}

.navLink.active:hover {
  cursor: default;
}

@media (min-width: 450px) {
  .navLink.active {
    text-transform: uppercase;
    font-weight: bold;
  }
}
