/* import app colors... */
@value heading, accent, subheading, light, medium, darkmedium, lightmatte, matte, dark from 'containers/App/colors.css';

/* breakpoints */
@value phone from 'containers/App/breakpoints.css';

.navListItem {
  margin: 0 5px;
}

.navLink {
  display: block;
  position: relative;
  padding: 10px;
  color: light;
  font-size: large;
  line-height: 1;
  height: 38px;

  @media phone {
    font-size: 4vw;
  }

  &:hover {
    color: light;
    text-decoration: none;
  }

  &.activeLink {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 6px solid accent;

    &:hover {
      cursor: default;
    }
  }

  &.inactiveLink {
    border-bottom: 2px solid transparent;
    transition: transform .3s, border-color .3s ease-in-out;

    &:hover {
      border-bottom-color: accent;
      transform: translateY(-4px);
    }
  }
}