/* import your colors... */
@value colors: 'containers/App/colors.css';
@value light, lightgray, dark, matte, fresh, watermelon, teal from colors;

.cardHeader {
  width: 100%;
  height: auto;
  background-color: matte;
  float: left;
  color: light;
  padding: 15px;
}

.cardHeader h5,
.cardHeader h2 {
  margin: 0;
  display: inline-block;
}

.cardHeader h2 {
  font-size: large;
  margin: 0px;
}

.cardHeader h5 {
  color: light;
  margin: 5px 0;
  padding: 0;
}

/* End Heading */
