/* import your colors... */
@value colors: 'containers/App/colors.css';
@value light, medium, darkmedium, dark, lightmatte, matte, fresh, watermelon, teal from colors;

.resumeBtn,
.contactBtn {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-in-out;
}

.resumeBtn:hover,
.contactBtn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

.resumeBtn:hover,
.resumeBtn:active,
.resumeBtn:active:hover {
  background: matte;
  border-color: matte;
  color: light;
}

.resumeBtn,
.resumeBtn:focus:not(:hover) {
  background: transparent;
  border-color: matte;
  color: matte;
}

.contactBtn:hover,
.contactBtn:active,
.contactBtn:active:hover {
  background: watermelon;
  border-color: watermelon;
  color: light;
  outline-style: none;
}

.contactBtn,
.contactBtn:focus:not(:hover) {
  background: transparent;
  border-color: watermelon;
  color: watermelon;
}
