@value colors: 'containers/App/colors.css';
@value light from colors;
@value secondary from colors;
@value secondaryText from colors;
@value accent from colors;

.introCard {
  padding: 30px 0;
  background: secondary;
}

.introCard p {
  padding: 0 5%;
  margin: 32px 0 0;
}

.stickyButtons {
  background: light;
  padding-bottom: 10px;
}

.stickyButtons > div {
  background: secondary;
}

.workExperience {
  margin-bottom: 20px;
}

.socialBar {
  padding-top: 10px;
}

section:not(:first-child) {
  padding-top: 30px;
}

.centeredToolbarRow {
  min-width: 30%;
}

.downloadBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90px;
  justify-content: space-around;
}
