/* import your colors... */
@value colors: 'containers/App/colors.css';
@value light, lightgray, gray, dark, matte, fresh, watermelon, teal from colors;

.resumePage { /* stylelint-disable */

}

.introCard {
  padding: 30px 0 0;
  background: lightgray;
}

.introCard p  {
  padding: 0 5%;
  margin: 32px 0 0;
}

.stickyButtons > div {
  background: lightgray;
  padding: 15px 0;
}
.stickyButtons {
  background: light;
  padding-bottom: 10px;
}

.workExperience {
  margin-bottom: 20px;
}

.socialBar {
  padding-top: 10px;
}

section:not(:first-child) {
  padding-top: 30px;
}
