.navigation {
  width: 100% !important;
  background: #f5f5f5;
}

.navigationRow {
  display: flex;
  align-items: flex-end;
}


.logoWrapper {
  /*display:flex;*/
  margin: auto 0;
}

.logoWrapper li {
  list-style: none;
}

.logo {
  width: 50%;
  max-width: 25vw;
  margin: 0 auto;
  display: block;
}

:global .nav-tabs>li>a {
  background: blue;
}

:global .nav-tabs>li.active>a {
  background: orange !important;
}
