.navigation {
  width: 100% !important;
  background: black;
}

.navigationRow {
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
}

.logoWrapper li {
  list-style: none;
}

.logo {
  display: block;
  height: 150px;
}

.navlinksCol {
  padding-left: 0;
  padding-right: 0;
}

:global .nav-tabs>li>a,
:global .nav-tabs>li.active>a {
  background:transparent !important;
  border: 0 !important;
}

:global .nav-tabs>li:not(.active):hover {
  background: transparent;
  border-bottom: 2px solid orange !important;
}
:global .nav-tabs>li:not(.active)>a:hover {
  background: transparent;
  margin-bottom: 2px;
}

:global .nav-tabs>li.active>a {
  border-bottom: 5px solid orange !important;
  text-transform: uppercase;
  font-weight: bold;
  background: transparent;
}
:global .nav-tabs>li:hover {
  background: transparent;
}
