/* import your colors... */
@value colors: 'containers/App/colors.css';
@value light, medium, darkmedium, dark, lightmatte, matte, fresh, watermelon, teal from colors;

.videoListItem {
  box-shadow: none !important;
  border-radius: 0 !important;
  background-color: medium !important;
}

.videoListItem h5 {
  font-size: 16px;
  margin: 5px 0;
}

.isSelected {
  color: matte;
  background-color: fresh !important;
}

.isSelected:hover {
  transform: scale(1);
  cursor: default;
  border-color: darkmedium;
}

.isSelected h5 {
  font-weight: bold;
}

.videoListItem:not(.isSelected):hover {
  box-shadow: none;
  background-color: darkmedium !important;
}

.videoListItem:first-child:not(:last-child) {
  border-radius: 0 !important;
}

.heading {
  white-space: initial;
}

.image {
  margin: 5px 0;
  max-width: 100%;
  max-height: 75px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}
