.videoListItem { /* stylelint-disable */
  border: 0;
  box-shadow: none;
  margin-bottom: 10px;
}

.heading {
  /*text-align: left;*/
  white-space: initial;
}

.image {
  max-width: 100%;
  max-height: 75px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}


.isSelected {
  color: #333;
  background-color: #f5f5f5;
  border-color: #adadad;
}
