@value shadow from 'containers/App/globals.css';

/* import app colors... */
@value heading, accent, subheading, light, medium, darkmedium, lightmatte, matte, dark from 'containers/App/colors.css';

.cardShadow {
  box-shadow: shadow;
}

.card {
  composes: cardShadow;
  position: relative;
  margin: 0.5rem 0 1rem;
  background-color: light;
  border-radius: 2px;
  overflow: hidden;
}
