/* import your colors... */
@value colors: 'containers/App/colors.css';
@value light, medium, darkmedium, dark, lightmatte, matte, fresh, watermelon, teal from colors;

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: medium;
  border-radius: 2px;
  overflow: hidden;
  transition: box-shadow .25s;
}
