/* import your colors... */
@value heading, accent, subheading, popout, light, medium, darkmedium, dark, lightmatte, matte from 'containers/App/colors.css';

/* breakpoints */
@value xs-max, sm-min, sm-max, md-min, md-max, lg-min, xs, sm, md, lg from 'containers/App/breakpoints.css';

.timeline {
  list-style: none;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
}

.timeline::before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: ' ';
  width: 3px;
  background-color: medium;
  left: 50%;
  margin-left: -1.5px;
}

@media xs {
  .timeline::before {
    left: 40px;
  }
}
