@value colors: 'containers/App/colors.css';
@value accent from colors;

.headerIcon {
  margin: 10px 10px 10px 0;
}

.backgroundIcon {
  color: accent;
}

.foregroundIcon {
  font-size: 30px !important;
}
