/* import app colors... */
@value heading, accent, subheading, light, medium, darkmedium, lightmatte, matte, dark from 'containers/App/colors.css';

.socialLink,
.socialLink:hover {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.socialListItem:hover .icon {
  transform: scale(1.5);
  color: accent;
}

.icon {
  color: lightmatte;
  font-size: larger !important;
  cursor: pointer;
  transition: all 0.2s;
}
