/* import your colors... */
@value colors: 'containers/App/colors.css';
@value light, medium, darkmedium, dark, lightmatte, matte, fresh, watermelon, teal from colors;

.socialLink,
.socialLink:hover {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.socialListItem:hover .icon {
  transform: scale(1.5);
  color: teal;
}

.icon {
  color: lightmatte;
  font-size: larger;
  cursor: pointer;
  transition: transform 0.2s;
}
