/* breakpoints */
@value xs-max, sm-min, sm-max, md-min, md-max, lg-min, xs, sm, md, lg from 'containers/App/breakpoints.css';

.videos {
  margin-top: 15px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.playlistBtn {
  margin-left: 20px;
}

.icon {
  margin-left: 10px;
  font-size: larger;
}

@media sm-min {
  .col {
    padding-left: 0;
  }

  .col:not(:first-child) {
    padding-right: 0;
  }
}

@media sm-max {
  .col {
    padding-left: 0;
    padding-right: 0;
  }

  .videoListCol {
    margin: 0 auto;
    float: none;
  }
}
