/* import your colors... */
@value heading, accent, subheading, popout, light, medium, darkmedium, dark, lightmatte, matte from 'containers/App/colors.css';


.skills { /* stylelint-disable */

}

H3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.card {
  background-color: matte !important;
  color: light;
  padding: 15px;
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
