/* import app colors... */
@value heading, accent, subheading, light, medium, darkmedium, lightmatte, matte, dark from 'containers/App/colors.css';

.heading {
  margin-top: 10px;
  margin-bottom: 20px;
}

.card {
  background-color: subheading !important;
  color: light;
  padding: 15px;
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
