/* import your colors... */
@value colors: 'containers/App/colors.css';
@value light, lightgray, dark, matte, fresh, watermelon, teal from colors;


.skills { /* stylelint-disable */

}

H3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.card {
  background-color: teal;
  color: light;
  padding: 15px;
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}
