/* import your colors... */
@value colors: 'containers/App/colors.css';
@value light, lightgray, gray, dark, matte, fresh, watermelon, teal from colors;


.skillsGroup { /* stylelint-disable */

}

.item {
  border: 0;
  background-color: transparent;
  padding: 10px 0px 10px 5px;
}

.listGroup {
  margin-bottom: 0;
}

.col {
  padding-left: 10px;
  padding-right: 10px;
}

.item:not(:first-child) {
  border-top: 1px solid #237782;
}
