/* import your colors... */
@value colors: 'containers/App/colors.css';


.skillsGroup { /* stylelint-disable */

}

.item {
  border: 0;
  background-color: transparent;
}

.listGroup {
  margin-bottom: 0;
}

.col {
  padding-left: 5px;
  padding-right: 5px;
}
.col:first-child {
  padding-left: 15px;
}
.col:last-child {
  padding-right: 15px;
}

.item:not(:first-child) {
}
