/* import your colors... */
@value heading, accent, subheading, popout, popoutAlt, light, medium, darkmedium, dark, lightmatte, matte from 'containers/App/colors.css';

.item {
  border: 0;
  background-color: transparent;
  padding: 10px 0 10px 5px;
}

.listGroup {
  margin-bottom: 0;
}

.col {
  padding-left: 10px;
  padding-right: 10px;
}
