/* import app colors... */
@value heading, accent, subheading, light, medium, darkmedium, lightmatte, matte, dark from 'containers/App/colors.css';

.cardBody {
  float: left;
  width: 100%;
}

.cardBody > ul {
  padding: 0;
}

.cardBody > p,
.cardBody > ul {
  margin-bottom: 0;
}

.cardBody > p {
  padding: 10px;
}

.cardBody > p + p {
  margin-top: 5px;
}

.cardBody > ul > li {
  padding: 7px 15px;
  background: light;
}

.cardBody h4 small {
  padding-left: 1vw;
}
