/* import your colors... */
@value colors: 'containers/App/colors.css';
@value light, lightgray, gray, dark, matte, fresh, watermelon, teal from colors;

.cardBody {
  float: left;
  width: 100%;
}

.cardBody > ul {
  padding: 0;
}

.cardBody > p, .cardBody > ul {
  margin-bottom: 0;
}

.cardBody > p+p {
  margin-top: 5px;
}

.cardBody > ul > li {
  padding: 7px 15px;
  background: lightgray;

}

.cardBody h4 small {
  padding-left: 1vw;
}
