/* import app colors... */
@value heading, accent, subheading, light, medium, darkmedium, lightmatte, matte, dark from 'containers/App/colors.css';

.description {
  white-space: pre-line;
  padding: 15px !important;
}

.details {
  background: fresh;
}

.cardHeader {
  background-color: subheading;
  color: light;
}
