/* import your colors... */
@value heading, accent, subheading, popout, light, medium, darkmedium, dark, lightmatte, matte from 'containers/App/colors.css';

.description {
  white-space: pre-line;
  padding: 15px !important;
}

.details {
  background: fresh;
}

.cardHeader {
  background-color: subheading;
  color: light;
}
