@value colors: 'containers/App/colors.css';
@value primary from colors;
@value primaryText from colors;
@value accent from colors;
@value light from colors;

.introductionCard {
  padding: 30px 0;
  color: primaryText;
  display: block;
  position: relative;
  
  &:after {
    background: url('./background.png') primary repeat;
    opacity: 0.85;  
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
}

.wrapper {
  padding: 0 5%;
  margin: 0;
}

.largeWrapper {
  display: flex;
  align-items: center;
}

.largeWrapper .contents {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.divider > hr {
  border-top: 2px solid accent;
  width: 25%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 245px;
  flex-wrap: wrap;
}

.description {
  font-size: large;
}

.smallWrapper .profile {
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.profileImg {
  flex-basis: 170px;
  width: 170px;
  border-radius: 5px;
}

.smallWrapper .profileImg {
  margin: 0 25px;
}

.social {
  padding: 0 5px;
  margin-top: 10px;
}

.smallWrapper .social {
  flex-basis: 40px;
  margin: initial;
}

.socialListItem:hover i {
  color: accent !important;
}

.ghostButton {
  color: light;
}
