/* import your colors... */
@value light, medium, darkmedium, dark, lightmatte, matte, fresh, watermelon, teal from 'containers/App/colors.css';

/* breakpoints */
@value xs-max, sm-min, sm-max, md-min, md-max, lg-min, xs, sm, md, lg from 'containers/App/breakpoints.css';

.intro {
  margin-top: 25px;
  padding: 30px 0;
  background: medium;
}

.profile {
  margin: 0 auto;
}

.social {
  padding: 30px 0;
  background: transparent;
}

@media sm {
  .social ul {
    display: initial !important;
  }

  .social li {
    display: initial !important;
  }
}

.socialListItem i {
  color: lightmatte;
}

.socialListItem:hover i {
  color: watermelon !important;
}

.social > ul {
  margin: 0;
}
