/* import app colors... */
@value heading, accent, subheading, light, medium, darkmedium, lightmatte, matte, dark from 'containers/App/colors.css';

.heading2 {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.hasBorder {
  border-bottom: 2px solid matte;
}
