/* import your colors... */
@value heading, accent, subheading, popout, light, medium, darkmedium, dark, lightmatte, matte from 'containers/App/colors.css';

.resumeBtn,
.resumeBtn:focus:not(:hover) {
  background: transparent;
  border-color: matte;
  color: matte;
}

.resumeBtn:hover,
.resumeBtn:active,
.resumeBtn:active:hover {
  background: matte;
  border-color: matte;
  color: light;
}

.contactBtn,
.contactBtn:focus:not(:hover) {
  background: transparent;
  border-color: accent;
  color: accent;
}

.contactBtn:hover,
.contactBtn:active,
.contactBtn:active:hover {
  background: accent;
  border-color: accent;
  color: light;
  outline-style: none;
}

.submitBtn:not(.invalidBtn):hover,
.submitBtn:not(.invalidBtn):active,
.submitBtn:not(.invalidBtn):active:hover {
  color: subheading !important;
  border-color: subheading !important;
  background: light !important;
}

.submitBtn:not(.invalidBtn),
.submitBtn:not(.invalidBtn):focus:not(:hover) {
  color: light !important;
  border-color: subheading !important;
  background: subheading !important;
}

.submitBtn.invalidBtn {
  color: accent !important;
  border-color: accent !important;
  background: light !important;
}

.submitBtn.invalidBtn:hover,
.submitBtn.invalidBtn:active,
.submitBtn.invalidBtn:active:hover {
  background: accent !important;
  border-color: accent !important;
  color: light !important;
}
