@value colors: 'containers/App/colors.css';
@value accent from colors;
@value light from colors;

.accentBtn,
.accentBtn:focus:not(:hover),
.submitBtn:not(.disabledBtn),
.submitBtn:not(.disabledBtn):focus:not(:hover) {
  background: accent;
  border-color: accent;
  color: light;
}

.accentGhostBtn,
.accentGhostBtn:focus:not(:hover) {
  background: transparent;
  border-color: accent;
  color: accent;
}

.accentBtn:hover,
.accentGhostBtn:hover,
.submitBtn:not(.disabledBtn):hover {
  filter: brightness(110%);
  background: accent;
  border-color: accent;
  color: light;
}

.accentBtn:active,
.accentBtn:active:hover,
.submitBtn:not(.disabledBtn):active,
.submitBtn:not(.disabledBtn):active:hover {
  filter: brightness(85%);
  background: accent;
  border-color: accent;
  color: light;
}

.submitBtn.disabledBtn,
.submitBtn.disabledBtn:hover,
.submitBtn.disabledBtn:active,
.submitBtn.disabledBtn:active:hover,
.playlistBtn,
.playlistBtn:hover {
  color: matte !important;
  border-color: matte !important;
  background: light !important;
}
