/* import your colors... */
@value colors: 'containers/App/colors.css';
@value light, medium, darkmedium, dark, lightmatte, matte, fresh, watermelon, teal from colors;

.resumeBtn,
.resumeBtn:focus:not(:hover) {
  background: transparent;
  border-color: matte;
  color: matte;
}

.resumeBtn:hover,
.resumeBtn:active,
.resumeBtn:active:hover {
  background: matte;
  border-color: matte;
  color: light;
}

.contactBtn,
.contactBtn:focus:not(:hover) {
  background: transparent;
  border-color: watermelon;
  color: watermelon;
}

.contactBtn:hover,
.contactBtn:active,
.contactBtn:active:hover {
  background: watermelon;
  border-color: watermelon;
  color: light;
  outline-style: none;
}

.submitBtn:not(.invalidBtn):hover,
.submitBtn:not(.invalidBtn):active,
.submitBtn:not(.invalidBtn):active:hover {
  color: teal !important;
  border-color: teal !important;
  background: light !important;
}

.submitBtn:not(.invalidBtn),
.submitBtn:not(.invalidBtn):focus:not(:hover) {
  color: light !important;
  border-color: teal !important;
  background: teal !important;
}

.submitBtn.invalidBtn {
  color: watermelon !important;
  border-color: watermelon !important;
  background: light !important;
}

.submitBtn.invalidBtn:hover,
.submitBtn.invalidBtn:active,
.submitBtn.invalidBtn:active:hover {
  background: watermelon !important;
  border-color: watermelon !important;
  color: light !important;
}
