/* import your colors... */
@value heading, accent, subheading, popout, light, medium, darkmedium, dark, lightmatte, matte from 'containers/App/colors.css';

/* breakpoints */
@value xs-max, sm-min, sm-max, md-min, md-max, lg-min, xs, sm, md, lg from 'containers/App/breakpoints.css';

html,
body {
  height: 100%;
  width: 100%;
}

h1 > i,
h2 > i,
h3 > i {
  padding-left: 2vw;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

@media xs {
  .container {
    padding-right: 5px;
    padding-left: 5px;
  }
}

::selection {
  background-color: accent !important;
  color: light !important;
}
